<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="vendor/autoload.php"
	colors="false"
	convertErrorsToExceptions="false"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="true">
	<testsuites>
		<testsuite name="EPresence\Utilities Test Suite">
			<directory>./tests/phpunit/</directory>
		</testsuite>
	</testsuites>
</phpunit>
